
.card-img-overlay {
    padding: 0 10px 0 0;
}

.icon-more {
    width: 10%;
    margin: 3px 0;
    padding: 0;
    float: right;
    color: black;
}

.help-icon {
    color: darkblue;
    font-size: 20px;
    display: inline;
}

.card-body {
    padding: 10px 10px 0 10px;
}

p {
    margin:  0;
    padding: 0 0 3px 0;
}

.category-badge {
    margin: 0 2px 5px 0;
}

.list-group-item {
    height: 21px;
    font-size: 13px;
    padding: 2px;
    background-color: #4b5162;
}

.meta-input {
    padding: 3px;
    background-color: inherit;
    width: 100%;
    height: 100%;
    border: none;
}

.meta-item {
    background-color: inherit;
    height: 30px;
    border: none
}
