.icon-more {
    width: 10%;
    margin: 3px 0;
    padding: 0;
    float: right;
    color: black;
}

.card-body {
    padding: 10px 10px 0 10px;
}

.breadcrumb {
    padding: 0px;
    margin: 0px;
    /*background-color: #4b5162;*/
    background-color: transparent;
}

/*hr {*/
    /*margin: 0 0 10px 0;*/
/*}*/