opencv-python
flask
flask-cors
flask-login
flask-restplus
flask-mongoengine
numpy
cython
scikit-image
requests
google_images_download
watchdog==0.8.3
pytest==3.9.3
pytest-ordering
imantics==0.1.4
sortedcontainers