{% extends "base.html" %}

{% block title %}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href="/client/css/annotator.css">
    <link rel="stylesheet" type="text/css" href="/client/css/switch.css">
{% endblock %}

{% block body %}
    {% raw %}
    <aside v-show="panels.left.show" class="left-panel shadow-lg">
        <tool-panel v-model="activeTool" ref="toolBar" :current="current"></tool-panel>
    </aside>

    <aside v-show="panels.right.show" class="right-panel shadow-lg">
        <hr>
        <h6 class="sidebar-title text-center">{{ image.filename }}</h6>
        <div class="sidebar-section" style="max-height: 57%">
            <p v-if="categories.length == 0" style="color: lightgray; font-size: 12px">
                No categories have been added to this image.
            </p>
            <div v-else id="accordion" style="overflow: auto; max-height: 100%">
                <category v-for="(category, index) in categories" :key="category.id + '-category'"
                          :category="category" :opacity="shapeOpacity" :hover="hover" :index="index"
                          @click="onCategoryClick" :current="current" ref="category">
                </category>
            </div>
        </div>
        <hr>
        <h6 class="sidebar-title text-center">{{ activeTool }}</h6>
        <div class="sidebar-section tool-section" style="max-height: 30%; color: lightgray">

            <!-- Image Tool -->

            <div v-show="activeTool.toLowerCase() === 'select'">
                <button class="btn btn-outline-light tool-input-button" @click="fit">
                    Center Image
                </button>
                <div class="input-group tool-input-group">
                    <div class="input-group-prepend tool-option-pre">
                        <span class="input-group-text tool-option-font">Scroll Zoom </span>
                    </div>
                    <input v-model.number="zoom" type="number" min="0" max="1" step="0.1"
                           class="form-control tool-option-input">
                </div>
            </div>

            <!-- Polygon Tool -->

            <div v-show="activeTool.toLowerCase() === 'polygon'">
                <!-- TODO: Add functionality
                <button class="btn btn-outline-light tool-input-button">
                    New Polygon
                </button>
                <button class="btn btn-outline-light tool-input-button">
                    Complete Polygon
                </button>
                <button class="btn btn-outline-light tool-input-button">
                    Save Polygon
                </button>
                -->
                <button :class="{ 'btn btn-outline-light':true,'tool-input-button': true, 'active': polygon.guidance }"
                        @click="polygon.toggleGuidance(polygon)">
                    Guidance
                </button>
                <div class="input-group tool-input-group">
                    <div class="input-group-prepend tool-option-pre">
                        <span class="input-group-text tool-option-font">Complete Distance </span>
                    </div>
                    <input v-model.number="polygon.completeDistance" type="number" min="0" max="1000" step="5"
                           class="form-control tool-option-input">
                </div>
                <div class="input-group tool-input-group">
                    <div class="input-group-prepend tool-option-pre">
                        <span class="input-group-text tool-option-font">Stroke Color (HEX)</span>
                    </div>
                    <input v-model="polygon.pathOptions.strokeColor"
                           :style="{'border-color': polygon.pathOptions.strokeColor}"
                           class="form-control tool-option-input">
                </div>
                <div v-show="polygon.simplify" class="input-group tool-input-group">
                    <div class="input-group-prepend tool-option-pre">
                        <span class="input-group-text tool-option-font">Simplify tolerance </span>
                    </div>
                    <input v-model.number="polygon.tolerance.simplify" type="number" min="0" max="1000" step="5"
                           class="form-control tool-option-input">
                </div>
                <div v-show="polygon.simplify" class="input-group tool-input-group">
                    <div class="input-group-prepend tool-option-pre">
                        <span class="input-group-text tool-option-font">Flatten tolerance </span>
                    </div>
                    <input v-model.number="polygon.tolerance.flatten" type="number" min="0" max="1000" step="1"
                           class="form-control tool-option-input">
                </div>
            </div>

            <!-- Wand -->

            <div v-show="activeTool.toLowerCase() === 'wand'">

            </div>
        </div>

    </aside>

    <div class="middle-panel">
        <div class="canvas" @wheel="onwheel">

            <canvas style="width: 100%; height: 100%" id="editor" :class="image.class" ref="image" resize></canvas>
        </div>
    </div>
    {% endraw %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script data-main="/client/annotator-main.js" src="/client/lib/require.js"></script>
{% endblock %}