{% extends "base.html" %}

{% block title %}
    {{ super() }}
    <link rel="stylesheet" href="/client/css/undo.css">
{% endblock %}

{% block body %}
    {% raw %}
    <div class="album py-5 bg-light">
        <div class="container" style="padding-top: 30px">
            <h2 class="text-center">Undo</h2>
            <p class="text-center">
                Total of <strong>{{ undos.length }}</strong> items can be undone.
            </p>
            <hr>
            <div class="row justify-content-md-center">
                <div class="col-md-auto btn-group" role="group" style="padding-bottom: 20px">
                    <button type="button" class="btn btn-success disabled">Undo All</button>
                    <button type="button" class="btn btn-danger disabled">Delete All</button>
                    <button type="button" class="btn btn-secondary" @click="updatePage">Refresh</button>
                </div>
            </div>
            <p class="text-center" v-if="undos.length < 1">Nothing to undone!</p>
            <div v-else>
                <table class="table table-hover table-sm">
                    <thead class="remove-top-border">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Instance Type</th>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th class="text-center" scope="col">Rollback</th>
                        <th class="text-center" scope="col">Delete</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="undo in undos">
                        <td>{{ undo.ago }} ago</td>
                        <td>{{ undo.instance }}</td>
                        <td>{{ undo.id }}</td>
                        <td>{{ undo.name }}</td>
                        <td><i class="fa fa-undo text-center undo-icon" aria-hidden="true"
                                @click="undoModel(undo.id, undo.instance)"></i></td>
                        <td><i class="fa fa-remove text-center delete-icon" aria-hidden="true"
                                @click="deleteModel(undo.id, undo.instance)"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endraw %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script data-main="/client/undo-main.js" src="/client/lib/require.js"></script>
{% endblock %}