
#app {
    height: inherit;
    width: inherit;
    overflow: hidden;
}

.navbar {
    background-color: #383c4a;
}

.left-panel {
    background-color: #4b5162;
    width: 40px;
    padding-top: 40px;
    float: left;
    height: 100%;
    box-shadow: 5px 10px;
}

.right-panel {
    padding-top: 40px;
    background-color: #4b5162;
    width: 250px;
    height: inherit;
    float: right;
}

.middle-panel {
    display: block;
    height: inherit;
    widows: inherit;
    background-color: #7c818c;
    overflow: hidden;
    position: relative;
}

.canvas {
    align-items: center;
    display: flex;
    height: inherit;
    width: inherit;
}

#image {
    position: absolute;
}

.sidebar-section {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto;
}

.sidebar-title {
    color: white;
}

html, body {
    min-height: 100% !important;
    height: 100%;
    min-width: 100% !important;
    width: 100%;
}

img {
    max-width: 100%;
}


/* Tool section */
.tool-section {
    margin: 5px;
    border-radius: 5px;
    background-color: #383c4a;
    padding: 0 5px 5px 5px;
    overflow: auto;
}

.tool-input-group {
    padding-top: 4px;
}

.tool-input-button {
    height: 20px;
    border-color: #4b5162;
    padding: 0 0 0 11px;
    font-size: 12px;
    width: 100%;
}

.tool-input-button:hover {
    border-color: lightgray;
    background-color: white;
}

.tool-option-pre {
    background-color: #383c4a;
    height: 20px;
}

.tool-option-font {
    border-color: #4b5162;
    background-color: #383c4a;
    color: white;
    font-size: 12px;
}

.tool-option-input {
    border-color: #4b5162;
    color: white;
    padding: 0 0 0 3px;
    background-color: #383c4a;
    height: 20px;
    font-size: 12px;
    width: 100%;
}

/* Images Section*/

/* Categories/Annotations section */

.category-icon {
    display: block;
    float: left;
    margin: 0;
    padding: 5px 10px 5px 10px;
}

.annotation-icon {
    margin: 0;
    padding: 3px;
}

.list-group-item {
    height: 21px;
    font-size: 13px;
    padding: 2px;
    background-color: #4b5162;
}

.card {
    background-color: #404552;
}

.card-header {
    display: block;
    margin: 0;
    padding: 0;
}

.btn-link {
    margin: 0;
    padding: 0;
}

.image-arrows {
    color: white;
    position: relative;
    margin: 0 10px 15px 10px;
}

.meta-input {
    padding: 3px;
    background-color: inherit;
    width: 100%;
    height: 100%;
    border: none;
}

.meta-item {
    background-color: inherit;
    height: 30px;
    border: none
}